[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
consolemd = "*"
validators = "*"
click = "*"

[dev-packages]
pytest = "*"
expects = "*"
pytest-spec = "*"
pytest-mock = "*"
pytest-mockito = "*"
pyfakefs = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
